@model IndexPagination<FormDto>;

@{
    ViewBag.Title = "Форма ввода";
}

<h2>Форма ввода</h2>

@if (!string.IsNullOrEmpty(ViewBag.Message) && ViewBag.Message == "success")
{
    <div class="alert alert-success" role="alert">
        Данные успешно загружены
    </div>
}
else if (!string.IsNullOrEmpty(ViewBag.Message) && ViewBag.Message == "empty")
{
    <div class="alert alert-warning" role="alert">
        Файл пуст
    </div>
}

@if (User.IsInRole(SD.Role.Администратор.ToString()))
{
    <a asp-action="CreateForm" class="btn btn-success btn-sm mb-1">Добавить</a>
}

<div class="row">
    <div class="col">
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-3 mb-2">
                    <label>Выберите файл</label>
                    <input type="file" name="file" />
                </div>
                <div class="col-1 mb-1">
                    <input type="submit" asp-controller="Form" asp-action="UploadExcel" class="btn btn-primary" value="Загрузить Excel файл" />
                </div>
            </div>
        </form>
    </div>

    <div class="col mb-1">
        <a class="btn btn-warning" asp-controller="Form" asp-action="DownloudExcel">Скачать Excel файл</a>
    </div>
</div>

<table class="table table-hover">
    <tbody class="table-light">
        <tr>
            <th>Район</th>
            <th>Кадастровый номер</th>
            <th>Адрес</th>
            <th>Состояние в ЕГРН</th>
            <th>Статус Росреестр</th>
            <th>Статус ОМС</th>
            <th>Последнее изменение Росреестр</th>
            <th>Последнее изменение ОМС</th>
            <th>Последнее изменение пользователь ОМС</th>
            <th></th>
            <th></th>
        </tr>
    </tbody>
    @foreach (var form in Model.Model)
    {
        <tr>
            <td>@form.DistrictNumber?.Value</td>
            <td>@form.CadastralNumber</td>
            <td>@form.Address</td>
            <td>@form.StatusEGRN</td>
            <td>@form.RosreestrStatus?.Value</td>
            <td>@form.OMSStatus?.Value</td>
            <td>@form.LastModifiedDateRosreestr</td>
            <td>@form.LastModifiedDateOMS</td>
            <td>@form.LastModifiedUserOMS</td>
            @if (User.IsInRole(SD.Role.Администратор.ToString()))
            {
                <td>
                    <form method="post" asp-controller="Form" asp-action="DeleteForm" asp-route-id="@form.Id">
                        <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                    </form>
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-controller="Form" asp-action="UpdateForm" asp-route-id="@form.Id">Изменить</a>
                </td>
            }
            @if (User.IsInRole(SD.Role.ОМС.ToString()))
            {
                <td>
                    <a class="btn btn-sm btn-primary" asp-controller="Form" asp-action="UpdateForm" asp-route-id="@form.Id">Изменить</a>
                </td>
            }
            @if (User.IsInRole(SD.Role.Росреестр.ToString()))
            {
                <td>
                    <a class="btn btn-sm btn-primary" asp-controller="Form" asp-action="UpdateForm" asp-route-id="@form.Id">Изменить</a>
                </td>
            }
        </tr>
    }
</table>

<page-link page-model="Model.PageModel" page-action="GetForms"></page-link>
