@using Registery.Application;
@model IEnumerable<FormDto>

@{
    ViewBag.Title = "Форма ввода";
}

<h2>Форма ввода</h2>
@* @if (User.IsInRole("Администратор"))
{ *@
    <a asp-action="CreateForm" class="btn btn-success btn-sm">Добавить</a>
@* } *@

<table class="table">
    <tr>
        <th>Район</th>
        <th>Кадастровый номер</th>
        <th>Адрес</th>
        <th>Состояние в ЕГРН</th>
        <th>Статус Росреестр</th>
        <th>Статус ОМС</th>
        <th>Последнее изменение Росреестр</th>
        <th>Последнее изменение ОМС</th>
        <th>Последнее изменение пользователь ОМС</th>
        <th></th>
    </tr>
    @foreach (var form in Model)
    {
        <tr>
            <td>@form.DistrictNumber?.Value</td>
            <td>@form.CadastralNumber</td>
            <td>@form.Address</td>
            <td>@form.StatusEGRN</td>
            <td>@form.RosreestrStatus?.Value</td>
            <td>@form.OMSStatus?.Value</td>
            <td>@form.LastModifiedDateRosreestr</td>
            <td>@form.LastModifiedDateOMS</td>
            <td>@form.LastModifiedUserOMS</td>
            @if (User.IsInRole("Администратор"))
            {
                <td>
                    <form method="post" asp-controller="Form" asp-action="DeleteForm" asp-route-id="@form.Id">
                        <a class="btn btn-sm btn-primary" asp-controller="Form" asp-action="UpdateForm" asp-route-id="@form.Id">Изменить</a>
                        <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                    </form>
                </td>
            }
            @if (User.IsInRole(SD.Role.ОМС.ToString()))
            {
                <td>
                    <a class="btn btn-sm btn-primary" asp-controller="Form" asp-action="UpdateForm" asp-route-id="@form.Id">Изменить</a>
                </td>
            }
            @if (User.IsInRole(SD.Role.Росреестр.ToString()))
            {
                <td>
                    <a class="btn btn-sm btn-primary" asp-controller="Form" asp-action="UpdateForm" asp-route-id="@form.Id">Изменить</a>
                </td> 
            }
        </tr>
    }
</table>